body, html {
    height: 100%;
}

@font-face
{
    font-family: "Star Jedi Hollow";
    src: url('/fonts/starjedi/Starjhol.ttf')
}

.bg {
    /* The image used */
    background-image: url("/images/nh-apluto-wide-9-17-15-final_0.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    margin: auto;
    text-align:center;
    vertical-align: middle;
    padding: 50px;
    font-size: 192px;
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: #ca5;
}

h1 {
    font-family: "Star Jedi Hollow", Arial, sans-serif;
    font-weight:normal;
    font-style:normal;

}
